.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
}

/* Navbar styling */
.MuiAppBar-root {
  margin: 20px 20px 0 20px !important;
  width: calc(100% - 40px) !important;
  border-radius: 4px !important;
}

.footer {
  margin: 0 20px 20px 20px !important;
  width: calc(100% - 40px) !important;
  border-radius: 4px !important;
}

.MuiAppBar-root, .footer {
  background-color: #1a7e4f !important;
}

.btn-primary {
  background-color: #54b185 !important;
  &:hover {
    background-color: #067710 !important;
  }
}

.MuiButton-contained:not(.btn-primary):not(.delete-btn) {
  background-color: #00838f !important;
  &:hover {
    background-color: #006064 !important;
  }
}

.delete-btn {
  background-color: #f11c1c !important;
  &:hover {
    background-color: #8b1919 !important;
  }
}

.MuiContainer-root {
  flex: 1;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.MuiTextField-root {
  margin: 10px;
}

.MuiButton-root {
  margin: 10px;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.alert-message {
  margin: 10px 0;
  width: 100%;
}

.table-container {
  margin-top: 20px;
  margin-bottom: 20px;
}

.dialog-content {
  padding: 20px;
}

.centered-text {
  text-align: center;
}

.full-width {
  width: 100%;
}

.margin-top {
  margin-top: 20px;
}

.margin-bottom {
  margin-bottom: 20px;
}

.navbar-title {
  animation: slideInAndFade 2s ease-out;
}

@keyframes slideInAndFade {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}